* {
    box-sizing: border-box;
}

/* ___________________________ Common ________________________________________ */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(241,241,241);
    background: radial-gradient(circle, rgba(241,241,241,0.9164040616246498) 0%, rgba(194,194,194,1) 100%);
}

.header {
    background-color: #212121;
    padding: 1px;
    margin: 0;
    font-size: 16px;
    height: 50px;
    color: rgba(244,244,244,0.7);
}

/* _____________________________ Side Nav _________________________________ */


.leftNav {
    float: left;
    position: absolute;
    top: 0;
    /* left: -190px; */
    z-index: 0;
    width: 17%;
    height: 150%;
    padding: 20px;
    background-color: #212121;
    transition: all 300ms ease-in-out;

}

.leftNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leftNav ul li {
    cursor: pointer;
    padding: 18px 0;
    border-bottom: 1px solid rgba(244,244,244,0.4);
    color: rgba(244,244,244,0.7);
}
.leftNav ul li a{
    text-decoration: none;
    color: rgba(244,244,244,0.7);
}
.leftNav ul li a:hover {
    color: rgba(244,244,244,1);
    font-size: larger;
}
.leftNav ul li:last-child {
    border-bottom: 0;
}
.leftNav ul li a:active{
    color: #56203D;
    font-size: larger;
}
i {padding: 10px;}

.slideout-sidebar {
    position: fixed;
    top: 0;
    left: -190px;
    z-index: 0;
    width: 150px;
    height: 100%;
    padding: 20px;
    background-color: #212121;
    transition: all 300ms ease-in-out;
  }
  
/* ----------------------------- middle content ----------------------------- */
.grid {
    display: flex;
    position: relative;
    margin-left: 20%;
    margin-right: auto;
    text-align: center;
    font-family: Raleway;
    font-weight: lighter;
    color: rgb(24, 31, 31);
}

.grid .col {
    flex: 1;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    background-color:rgb(24, 31, 31)2d;
    margin: 20px 40px 30px 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-animation:colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
    0% {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
    10% {color: rgb(24, 31, 31)}
    
    20% { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
    30% {color: rgb(24, 31, 31)}
    
    40% {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
    50% { color: rgb(24, 31, 31);}
    
    60% {box-shadow: 0 4px 8px 0 rgba(0, 0, 0,  0.541), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
    70% {color: rgb(24, 31, 31);}

    80% {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
    90% {color: rgb(24, 31, 31);}
    
    100% {box-shadow: 0 4px 8px 0 rgba(0, 0, 0,  0.541), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
}
/* .grid .col:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
} */

.grid .col p {
    font-size: 20px;
    font-weight: bold;
    color: #65344F;
}

/* ---------------------------chart pane------------------------------------- */
.chart-panel .chart-set1{
    display: flex;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-right: auto;
}
/* .chart-panel2 .chart-set2{
    display: flex;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    margin-right: auto;
} */
.chart-panel .chart{
    flex: 1;
    padding-top: 40px;
    padding-bottom: 20px;
}


/* _____________________________________________________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________________________________________________ */
/* _____________________________________________________________________________________________________________________________________________ */




/* -----------------------------media rule--------------------------------------- */
@media(max-width: 570px){
.grid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.chart-panel{
    display: block;
}
}