

/* ---------------------------chart pane------------------------------------- */
.chart-panel .chart-set1{
    display: block;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-right: auto;
}
/* .chart-panel2 .chart-set2{
    display: flex;
    text-align: center;
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    margin-right: auto;
} */
.chart-panel .chart{
    flex: 1;
    padding-top: 40px;
    padding-bottom: 20px;
}


/* _____________________________________________________________________________________________________________________________________________ */
/* _____________________________________________________________add Subject . php ______________________________________________________________ */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}


.title h3{
  color: black;
  text-align: center;
  margin-bottom: 25px;
  padding:10px;
}

.btn, .btn2 {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

.btn2{
    padding: 5px;
    margin-right:35%; 
    float: right;   
}

.btn:hover {background-color: #44CF6C;}
.btn2:hover {background-color: #44CF6C;}


label{
    padding:10px;
}

.search{
  width: 25%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
  
}



#allocations {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-top:30px;
  float:right;
  margin-right:5%;
  
 
}

#allocations td {
  border: 1px solid #ddd;
  padding: 8px;
}

#allocations tr:nth-child(even){background-color: #f2f2f2;}



#allocations th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9fa9a3;
  color: white;
}
/* _____________________________________________________________________________________________________________________________________________ */
/* _____________________________________________________________teacher registration . php___________________________________________________________________________ */

.middle {
    float: right;
  padding: 10px;
  height: 950px;
  width: 63%;
  overflow: scroll;
}

.right {
    float: right;
  padding: 10px;
  height: 950px;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


/* ----------------------------- middle content ----------------------------- */

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date], textarea, select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=radio]{
    
}

input[type=text]:focus, input[type=password]:focus, input[type=date], textarea, input[type=radio], select{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}




/*_______________________________________________________________________________________________________________________________________________*/

/*_______________________________________________________admin Income . php______________________________________________________________________*/

        .Log-out a{
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px 15px 50px;
            cursor: pointer;
            border-radius: 10%;
        }

        .Log-out a:hover{
            background-color: #28882b;
        }
        /* -------------------------------footer----------------------------------------- */

        footer {
            background-color: #212121;
            color: rgba(255, 255, 255, 0.5);
            padding: 2rem 0 2rem 0 ;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100%; 
            text-align: center;
        }
        /* ----------------------------------chart---------------------------------------- */
        .top-mid{
            display: flex;
        }
        .top-mid .chart{
            flex: 1;
            padding-top: 40px;
            padding-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        /* ----------------------------------table-------------------------------------------- */
       .mid-table{
           display: flex;
       }
       .mid-table .purpleHorizon{
           flex: 1;
           margin-top: 20px;
       }
       
        table.purpleHorizon {
  background-color: #2c2c2c;
  width: 75%;
  height: 50%;
  text-align: left;
  border-collapse: collapse;
}
table.purpleHorizon td, table.purpleHorizon th {
  padding: 8px 8px;
}
table.purpleHorizon tbody td {
  font-size: 13px;
  color: #FFFFFF;
}
table.purpleHorizon tr:nth-child(even) {
  background: #969696;
}
table.purpleHorizon thead {
  background: #555555;
  border-bottom: 4px solid #555555;
}
table.purpleHorizon thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #555555;
}
table.purpleHorizon thead th:first-child {
  border-left: none;
}

table.purpleHorizon tfoot td {
  font-size: 13px;
}
table.purpleHorizon tfoot .links {
  text-align: left;
}
table.purpleHorizon tfoot .links a{
  display: inline-block;
  background: #555555;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
/*_______________________________________________________________________________________________________________________________________________*/
/*______________________________________________________salary pay . php___________________________________________________________________*/
#btn {
  margin-left: 20%;
  margin-right: auto;
}

/*_______________________________________________________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________________________________________________*/

/* -----------------------------media rule--------------------------------------- */
@media(max-width: 570px){
.grid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.chart-panel{
    display: block;
}
}