.middle {
    float: left;
    padding: 10px;
    height: 950px;
    width: 83%;
}

.allocation{
  margin-left: 10%;
  margin-top: 20%;
}

select{
  padding:10px;
  width:75%;
  resize: vertical;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
  background-color: #F5F5F5;

}

.allocation td{
width:20%;
padding:20px;
}


.scan-btn{
  float:right;
  margin-right: 10%;
  background-color:#66CDAA ;
  padding: 15px 20px;
  border: none;
  width:100%;
}

.scan-btn:hover{
  opacity: 0.7;
}
  
  