.middle {
    float: left;
    padding: 10px;
    height: 950px;
    width: 33%;
}

.right {
  float: left;
    padding: 10px;
    height: 950px;
    width: 50%;
}

.qr{
    
    width: 250px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
  }

  .container {
    padding-top:50px;
    padding-left:100px ;
}

.qr-scan {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    align-content: center;
  }
  
 input[type=text],  input[type=date]   {
    border-radius: 5px;
    border-color: none;
    background: #f1f1f1;
    padding: 15px;
    width:100%;
  }

  

  .search{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 250px

    }
    
    .search:hover {
    opacity:0.8;
    }
  
  .qr-scan td {
    padding: 20px; 
  }

  .qr-scan tr {
    width:20%;
  }

  .image-detail{
    width:100%;
    
  }
  
  .image-detail td {
    padding: 20px; 
   
  }

  .image-detail tr {
    width:10%;
   
  }

  