/* ----------------------------- middle content ----------------------------- */

.className {
  text-align: center;
  color: #00b359;
}


#regForm {
  background-color: #F0FFF0;
  margin-left: 15%;
  margin-top: 20px;
  padding: 40px;
  width: 70%;

}

h1 {
  text-align: center;  
}

input[type=text],input[type=date],input[type=time], select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
  background-color: #F0FFF0;

}

textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  outline: 0;
  border: 1px solid #228B22;
  background-color: #F0FFF0;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1.5em;
}

.topSection {
  background-color: #ACE1AF;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -83px;

  padding: 40px;
  padding-top: 83px;
}

/* Hide all steps by default: */
.tab {
  display: none;
  color: #228B22;
  padding-top: 20px;
  background-color: #F0FFF0;
}

#regForm button {
  background-color: #063811;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 40px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: 0.5s;
}


button:hover {
  background-color: #4CAF50;
}

input[type=submit]{
  background-color: #063811;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 40px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: 0.5s;
}

input[type=submit]{
  background-color: #4CAF50;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


@media only screen and (max-width: 1545px) {
  #regForm {
    width: 90%;
   margin-right: 5%;
   margin-left: 5%;
   padding: 2%;
  }

}

@media only screen and (max-width: 1300px) {
  #regForm {
    width: 96%;
   margin-right: 2%;
   margin-left: 2%;
  }

}

@media only screen and (max-width: 1000px) {
  #regForm {
    width: 96%;
   margin-right: 2%;
   margin-left: 2%;
  }

  .topSection {

    padding-left: 5px;
    padding-right: 5px;
    margin-left: -13px;
    margin-right: -13px;
  }


}


@media only screen and (max-width: 900px) {
  #regForm {
    width: 96%;
   margin-right: 2%;
   margin-left: 2%;
  }

  #regForm h1 {
    font-size: 20px;
  }


  input[type=text]{
    padding: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 20px;
  }

}



@media only screen and (max-width: 540px) {
  #regForm {
    width: 100%;
    padding: 0px;
  }

  .topSection {

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 20px;
  }

  .radioBtn {
    padding: 20px;
  }

}


@media only screen and (max-width: 380px) {
  #regForm {
    width: 100%;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .topSection {

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 20px;
  }

  .radioBtn {
    padding: 20px;
  }

}


@media only screen and (max-width: 300px) {
  #regForm {
    width: 100%;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .topSection {

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 30px;
  }

  .radioBtn {
    padding: 30px;
  }

}