
/* ----------------------------- middle content ----------------------------- */



/* ----------------------------- right content ----------------------------- */
.className {
  text-align: center;
  color: #00b359;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  resize: vertical;
  background-color: #E7EBE0FF;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #228B22;
}

textarea {
  padding: 15px;
  width: 100%;
  font-size: 17px;
  background-color: #E7EBE0FF;
  outline: 0;
  border: 2px solid #228B22;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input[type=submit]{
  background-color: #063811;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 40px;
  border-radius: 40px;
  text-transform: uppercase;
  transition: 0.5s;
}

input[type=submit]:hover{
  background-color: #4CAF50;
}

input[type=file]{
height:50px;
margin: 50px 10px 22px 0;
display: inline-block;
border: none;

}


.btn{
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.9;

}

.btn:hover {
opacity:1;
}

.uploadLabel{
  background-color: #EEE8AA;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;

}

.topHeading {
  text-indent:30%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.row {
  padding-bottom:20px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.previewContainer {
  padding-left: 100px;
  padding-right: 100px;
}

#removeLink{
  float: right;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
}

#removeLink:link, #removeLink:visited {
  background-color: grey;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#removeLink:hover, #removeLink:active {
  background-color: #696969;
}

.middle p a {
  color: #2F4F4F;
  text-decoration: none;
  text-transform: uppercase;
}









@media only screen and (max-width: 1545px) {
   #regForm {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  .middle {
    width: 50% !important;
  }

  .previewContainer {
    padding-left: 0px;
    padding-right: 100px;
  }

  input[type=submit] {
    margin-left: 15%;
    margin-top: 0px;
    font-size: 15px;
    padding: 12px 20px;
  }

  .right {
    font-size: 15px;
  }


}

@media only screen and (max-width: 1300px) {
  #regForm {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  .middle {
    display: none;
  }

  .previewContainer {
    padding-left: 100px;
    padding-right: 100px;
  }

  input[type=submit] {
    margin-left: 40%;
    margin-top: 0px;
    font-size: 15px;
    padding: 12px 20px;
  }

  .right {
    position: absolute;
    margin-left: 25%;
    width: 75% !important;
    height: 940px !important;
    padding-right: 15% !important;
    padding-left: 10% !important;
    font-size: 16px;
  }

}

@media only screen and (max-width: 1000px) {
  .right {
    padding-right: 15% !important;
    padding-left: 10% !important;
    font-size: 15px;
  }

  label {
    font-weight: bold;
  }

}


@media only screen and (max-width: 900px) {
 .right {
    width: 100% !important;
    margin-left: 0%;
    padding-right: 15% !important;
    padding-left: 10% !important;
    font-size: 15px;
  }

  .topHeading {
    text-indent:17%;
  }

}



@media only screen and (max-width: 540px) {
 .right {
    padding-right: 10% !important;
    padding-left: 5% !important;
    font-size: 15px;
  }

  .previewContainer {
    padding-left: 0px;
    padding-right: 100px;
  }

  input[type=submit] {
    margin-left: 15%;
    margin-top: 0px;
    font-size: 15px;
    padding: 12px 20px;
  }

  label {
    font-weight: normal;
  }

  .topHeading {
    text-indent: 20%;
    font-size: 18px;
  }

}


@media only screen and (max-width: 380px) {
  #regForm {
    font-size: 13px;
  }

  .right {
    padding-right: 5% !important;
    padding-left: 0% !important;
  }

  input[type=submit] {
    margin-left: 20%;
    margin-top: 0px;
    font-size: 13px;
    padding: 10px 15px;
  }

}
