#regForm {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  font-size: 16px;
}


#tableDiv {
  width: 100%;
  overflow-x: auto;
}


/* Add styles to the form container */
.form-container {
  margin-top: 20px;
  background-color: white !important;
}

.form-container h3{
  margin-top: 20px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=date], .form-container input[type=email], .form-container input[type=tel], select, .form-container textarea {
  padding: 7px !important;
  background-color: white !important;
}

.form-container .row {
  padding-bottom: 5px !important;
  padding-left: 8% !important;
}



/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border-color: white;
  cursor: pointer;
  opacity: 0.8 !important;
  border: none !important;
  border-radius: 20px !important;
  font-size: 17px !important;
  height: 40px;
  margin-top: 0 !important;
  text-decoration: none;
}

.form-container .cancel {
  float: right;
  margin-right: 30px;
  background-color: white;
  color: black;
  opacity: 0.5;
}

button:focus {outline:0;}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



input[type=text],input[type=date],input[type=email],input[type=tel], select {
  width: 100%;
  padding: 15px;
  resize: vertical;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
  background-color: #F8F8FF;
}

textarea {
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 1px solid #228B22;
  background-color: #F8F8FF;
}




label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-10 {
  float: left;
  width: 10%;
  margin-top: 20px;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 20px;
}

.col-35 {
  float: left;
  width: 35%;
  margin-top: 30px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 20px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 20px;
}

.row {
  padding-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit]{
  background-color: #063811;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 30px;
  border-radius: 30px;
  transition: 0.5s;
}

input[type=submit]:hover{
  background-color: #4CAF50;
}

tbody a {
  background-color: #063811;
  color: #ffffff;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  outline: 0;
  border-radius: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  text-decoration: none;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}




#data {
  border-collapse: collapse;
  margin-left: 0;
  width: 100%;
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 0;
}
#data th, td {
  border: 1px solid #ddd;
    padding: 8px;
}
#data th {
  background-color: #66CDAA;
  padding: 10px;

}

#data td {
  background-color: white;
}


/* The Modal (background) */
.mod {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 999999 !important; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.mod-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}




@media only screen and (max-width: 1545px) {
   #regForm {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
  }

  #data {
    overflow-x: auto;
    margin-left: 0;
    width: 100%;
    font-size: 14px;
  }

  #tableDiv {
    width: 100%;
    min-width: 100%;
  overflow-x: auto;
}

  input[type=submit] {
    font-size: 14px;
  }

}

@media only screen and (max-width: 1300px) {
  #regForm {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  #data {
    margin-left: 2%;
    width: 60%;
    font-size: 13px;
  }

}

@media only screen and (max-width: 1000px) {
  #regForm {
    padding-left: 10%;
    padding-right: 1%;
    width: 100%;
    padding-top: 4%;
    font-size: 13px;
  }

  input[type=text],input[type=date],input[type=email], select {
    width: 100%;
    padding: 15px;
    padding-right: 0px;
  }

  textarea {
    padding: 15px;
    padding-right: 0px;
    width: 100%;
  }

}


@media only screen and (max-width: 900px) {
 #regForm {
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 5%;
    font-size: 14px;
  }

  #data {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;

  }

  .col-15 {
    float: left;
    width: 20%;
    margin-top: 20px;
  }

}



@media only screen and (max-width: 540px) {
  #regForm {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
    font-size: 13px;
  }

  #data {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;

  }


  .col-15 {
    float: left;
    width: 20%;
    margin-top: 20px;
  }

  .col-25 {
    float: left;
    width: 40%;
    margin-top: 20px;
  }

  .col-10 {
    margin-right: 80%;
  }

  .genderLabel {
    width: 20% !important;
  }

}



@media only screen and (max-width: 380px) {
  #regForm {
    padding-left: 2%;
    padding-right: 4%;
    padding-top: 3%;
    font-size: 11px;
  }

  #data {
    overflow-x: auto;
  }

  #data td, #data th{
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
  }

}