
/* ----------------------------- middle content ----------------------------- */

/* Add padding to containers */
.container {
	padding-top:5%;
  margin-top: 5%;
  width: 60%;
  height: 60%;
  margin-left: 15%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
table{
	margin-left: 0%;
}
tr{
	
	height:50px;
	text-align:center;
	width:100%;

}

td{
	width:20%;
	text-align:center;

}

/* Full-width input fields */
input[type=text], select {

padding: 15px;
width:100%;
margin: 5px 0 45px 0;
display: inline-block;
border: none;
  resize: vertical;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
  background-color: #F8F8FF;

}

input[type="file"]{
  display: none;

}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-left: 0;
    cursor: pointer;
}


.btn, .btn2 {
background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  border-radius: 17px;
}

.btn, .btn2:hover {
opacity:1;
}

.btn{
	margin-left: 40%;
  border: none;
}

label{
	margin-left: 20%;
}

