
.middle {
  float: left;
  padding: 10px;
  height: 950px;
  width: 83%;
  overflow: scroll;
}

/* ----------------------------- middle content ----------------------------- */

* {box-sizing: border-box}

/* Add padding to containers */
.container {
	padding:30px;
}
table{
	margin-left: 20%;
}
tr{
	
	height:50px;
	text-align:center;
	width:100%;

}

td{
	width:20%;
	text-align:center;

}

/* Full-width input fields */
input[type=text], select {

padding: 15px;
width:100%;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
  resize: vertical;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
  background-color: #F8F8FF;

}

input[type=file]{
padding: 15px;
width:25%;
margin: 100px 0 22px 0;
display: inline-block;
border: none;

  resize: vertical;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
  background-color: #F8F8FF;
}


.btn, .btn2 {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 25%;
opacity: 0.9;
}

.btn, .btn2:hover {
opacity:1;
}

.btn{
	margin-left: 40%;
}

label{
	margin-left: 20%;
}

