input[type=text],input[type=date],input[type=time], select, textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


.col-20 {
  float: left;
  width: 20%;
  margin-top: 20px;
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 20px;
}

.col-40 {
  float: left;
  width: 40%;

}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}





/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: grey;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #2F4F4F;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



/* table */

#data {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#data td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data tr:nth-child(even){background-color: #f2f2f2;}

#data tr:hover {background-color: #ddd;}

#data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #90EE90;
  color: black;
}




/* The container */
.containerRadio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadio input:checked ~ .checkmark {
  background-color: #07A3B2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRadio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}








@media only screen and (max-width: 1545px) {
   #regForm {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
  }

}

@media only screen and (max-width: 1300px) {
  #regForm {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

}

@media only screen and (max-width: 1000px) {
  #regForm {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
  }

}


@media only screen and (max-width: 900px) {
 #regForm {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    font-size: 14px;
  }

  #data {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;

  }

}



@media only screen and (max-width: 540px) {
  #regForm {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    font-size: 14px;
  }

  #data {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
  }

}