* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo{
  font-family: 'Homemade Apple';
  font-size: 40px;
  color: #66CDAA;
  margin-top: 20px;
  margin-left: 20%;
}

.headerClass {
  background-color: #063811;
  padding:1px;
  margin:0;
  font-size: 16px;
  height: 60px;
  color: rgba(244,244,244,0.7);
}


.leftNav {
  background-color: #063811;
  float: left;
 top: 0;
  padding: 20px;
  height: 1050px;
  width: 17%;
  font-size: 16px;
  
}

.leftNav ul {
  list-style: none;
margin-top: 20px;
  padding: 0;
  background-color: #063811;
  color: white;
}

.leftNav ul li {
  padding: 12px 0;
  border-bottom: 1px solid rgba(244,244,244,0.4);
  color: rgba(244,244,244,0.7);
}

.leftNav ul li a {
  display: block;
  color: rgba(244,244,244,0.7);
  padding: 8px 0px;
  text-decoration: none;
}

/* Change the link color on hover */
.leftNav ul li a:hover {
  background-color: #306B76;
  color: white;
}

i{
  padding:10px;
}








.dropdown-btn {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: rgba(244,244,244,0.7);
  font-size: 16px;
  width: 100%;
}

.dropdown-btn:hover {
  background-color: #306B76;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}








.middle {
  float: left;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  height: 950px;
  width: 83%;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.middle::-webkit-scrollbar{
  display: none;
}

.right {
  float: left;
  padding: 30px;
  height: 950px;
  width: 20%;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 950px;
  float: left;

}



/* ----------------------------- middle content ----------------------------- */
.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: 100%;
  height: 150px;
  background-color: #2E8B57;
  color: white;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

.containerCard {
  padding-left: 40%;
  margin-top: 25px;
}

.quarter-circle-top-left{
    width: 70px;
    height: 70px;
    background: #66CDAA;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
    margin-right: 0;
}

#icon1, #icon2, #icon3, #icon4{
  color: #2E8B57;
}

.userDiv {
  width: 35px;
  height: 35px;
  background-color: rgba(244,244,244,0.7);
  transition: width 0.7s;
  border-radius: 25px;
  font-weight: bold;
  color: #063811;
  margin-top:10px;
  float: right;
  margin-right: 30px;
  font-size:10px;
}

.userDiv i {
    font-size: 20px;
  }

.userDiv:hover {
  width: 425px;
  height: 35px;
  border-radius: 25px;
  padding: 0 10px 0 10px;
  font-size:16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 999999 !important; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* The Modal (background) */
.alert-modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 999999 !important; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.fees-modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 999999 !important; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.alert-modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.fees-modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h3,label {
  color: black;
  font-family: 'Homemade Apple';
}

/*.roundBtn{
  background-color: #063811;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  outline: 0;
  height: 30px;
  border-radius: 30px;
  transition: 0.5s;
  text-decoration: none;
}*/


 
#name {
  width: 100%;
  text-align: center;
  color: #2E8B57;
}


.topic {
  width: 100%;
  padding: 12px;
  resize: vertical;
  text-align: center;
}

.detail {
  width: 100%;
  padding: 12px;
  color: #2E8B57;
  resize: vertical;
  text-align: center;
  margin-top: -10px;
  font-size: 14px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.modal .row {
  background-color: #D5F5E3;
  width: 100%;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 20px;
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 20px;
}

.col-50-topic {
  float: left;
  width: 50%;
  margin-top: 20px;
}

.col-50-detail {
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.drop-btn, .drop-container {
  display: none;
}

#psw-btn {
  background-color: #4CAF50;
  border: none;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  
}

#psw{
  text-decoration: none;
  color: white;

}

.logout {
  margin-top:6px;
  float: right;
  margin-right: 40px;
}

.logout i {
  font-size: 28px;
}


 .footer , .footer a{
        color:#AAAAAA; 
        background-color:#000000;
        }
        #copyright{padding:20px 0;}
        #copyright *{margin:0; padding:0;}
        #copyright p{margin-left: 40px;}
        .footer .cpy{
        display:block; margin:0 0 auto 0;
        }
        .clear{display:block;}
        .clear::before, .clear::after{display:table; content:"";}
        .clear, .clear::after{clear:both;}