button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #5185a8;
    color: #fff;
    text-decoration: none;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
}
.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 13px 0;
    width: 100%;
}



#data {
    border-collapse: collapse;
    float: right;
    margin-top: -400px;
    width: 50%;
    font-size: 15px;
}
#data th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
#data th {
    background-color: #66CDAA;
    padding: 10px;

}

/* form styles */
.table-filters input, select {
    font: inherit;
    margin: 0;
    padding: 4px;
}
.table-filters .input-text {
    min-width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.table-filters select {
    min-width: 150px;
}
.table-filters label {
    margin: 0 4px 0 8px;
}



/* Filtable styles */
#data tr.hidden {
    display: none;
}

}
#data tr:nth-child(even) {
    background-color: #f2f2f2;
}


#data tr:hover {
    background-color: #ddd;
}


.large-table {
    width: 100%;
}
.large-table td {
    font-size: 12px;
}


@media only screen and (max-width: 1545px) {
  #regForm {
    width: 90%;
   margin-right: 5%;
   margin-left: 5%;
   padding: 2%;
  }

}

@media only screen and (max-width: 1300px) {
  #regForm {
    width: 96%;
   margin-right: 2%;
   margin-left: 2%;
  }

}

@media only screen and (max-width: 1000px) {
  #regForm {
    width: 96%;
   margin-right: 2%;
   margin-left: 2%;
  }

  .topSection {

    padding-left: 5px;
    padding-right: 5px;
    margin-left: -13px;
    margin-right: -13px;
  }


}


@media only screen and (max-width: 900px) {
  #regForm {
    width: 96%;
   margin-right: 2%;
   margin-left: 2%;
  }

  #regForm h1 {
    font-size: 20px;
  }


  input[type=text]{
    padding: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 20px;
  }

}



@media only screen and (max-width: 540px) {
  #regForm {
    width: 100%;
    padding: 0px;
  }

  .topSection {

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 20px;
  }

  .radioBtn {
    padding: 20px;
  }

}


@media only screen and (max-width: 380px) {
  #regForm {
    width: 100%;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .topSection {

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 20px;
  }

  .radioBtn {
    padding: 20px;
  }

}


@media only screen and (max-width: 300px) {
  #regForm {
    width: 100%;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .topSection {

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #228B22;
    background-color: #F0FFF0;

  }

  input[type=radio] {
    width: 100%;
    height: 30px;
  }

  .radioBtn {
    padding: 30px;
  }

}