button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #5185a8;
    color: #fff;
    text-decoration: none;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
}
.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 13px 0;
    width: 100%;
}



#data {
    border-collapse: collapse;
    float: right;
    margin-top: -400px;
    width: 50%;
    font-size: 15px;
}
#data th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
#data th {
    background-color: #66CDAA;
    padding: 10px;

}

/* form styles */
.table-filters input, select {
    font: inherit;
    margin: 0;
    padding: 4px;
}
.table-filters .input-text {
    min-width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.table-filters select {
    min-width: 150px;
}
.table-filters label {
    margin: 0 4px 0 8px;
}



/* Filtable styles */
#data tr.hidden {
    display: none;
}

}
#data tr:nth-child(even) {
    background-color: #f2f2f2;
}


#data tr:hover {
    background-color: #ddd;
}


.large-table {
    width: 100%;
}
.large-table td {
    font-size: 12px;
}


.midTable {
    width: 100%;
    margin-top: 0;
}

.midTable td{
    border: none;
}




.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  height: 150px;
  background-color: #2E8B57;
  color: #e6fff5;
  margin-right: 7%;
  margin-left: 3%;
  margin-top: 3%;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

.containerCard {
  padding-left: 27%;
  margin-top: 25px;
}

.containerCard h5 {
  text-indent: center;
}

.quarter-circle-top-left{
    width: 70px;
    height: 70px;
    background: #66CDAA;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
    margin-right: 0;
}

#icon1, #icon2, #icon3, #icon4{
  color: #2E8B57;
}

.marks {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    height: 600px;
    background-color: #a8e4a0;
    padding-top: 10px;
    color: #2E8B57;
}

.marks h3 {
    text-align: center;
}

.marks h4{
    padding-left: 3em;

}

.marks p {
    padding-left: 5em;
}

.container{
    float:right;
    width:55%;
    

}