.middle {
  float: left;
  padding: 10px;
  height: 950px;
  width: 83%;
  overflow: scroll;
}

/* ----------------------------- middle content ----------------------------- */

* {box-sizing: border-box}

/* Add padding to containers */
.container {
	margin-left:10%;
  margin-top: 5%;
  
}

tr{
	
	height:50px;
	text-align:center;
	width:100%;
}

*td{
	width:20%;
	text-align:center;
}

/* Full-width input fields */
input[type=text], input[type=date], input[type=file], input[type=tel], select, textarea {

width: 100%;
  padding: 12px;
  padding-top: 30px;
  resize: vertical;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #228B22;
  background-color: #F8F8FF;
}

.select{
	background-color: grey;
	
}



/*input[type=text]:focus, input[type=date]:focus, input[type=file]:focus, input[type=radio]:focus input[type=tel]:focus, select:focus{
background-color: #ddd;
outline: none;
}*/

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.registerbtn:hover {
opacity:1;
}

.enroll{
	background-color: #4CAF50;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}




