
.middle {
  float: left;
  padding: 10px;
  height: 950px;
  width: 83%;
  overflow: scroll;
}

/* ----------------------------- middle content ----------------------------- */

* {box-sizing: border-box}

/* Add padding to containers */
.container {
	padding:30px;
}
table{
	margin-left: 20%;
}
tr{
	
	height:50px;
	text-align:center;
	width:100%;

}

td{
	width:20%;
	text-align:center;

}

/* Full-width input fields */
input[type=text], select {

padding: 15px;
width:100%;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=file]{
height:50px;
width:25%;
margin: 100px 0 22px 0;
display: inline-block;
border: none;

}


.btn, .btn2 {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 25%;
opacity: 0.9;

}

.btn, .btn2:hover {
opacity:1;
}

.btn2{
	margin-left:41.5%;
	margin-top:5%;
}


label{
	margin-left: 35%;
}