
.middle {
	float: left;
  padding: 10px;
  height: 950px;
  width: 83%;
}


/* ----------------------------- middle content ----------------------------- */
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}


.title h3{
  color: black;
  text-align: center;
  margin-bottom: 25px;
  padding:10px;
}

input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 16px;

}

/*.btn, .btn2 {
  background-color:#66CDAA ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

.btn2{
	padding: 5px;
	margin-right:35%; 
	float: right;	
}*/

.btn,.btn2:hover {background-color: #44CF6C;}

#btnGetCount:hover {background-color: #44CF6C;}


#btnGetCount{
  background-color:#66CDAA ;
  padding: 10px 20px;
  border: none;
  
  
  
}




